
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLteLayoutClean.cshtml";
}

<div id="ajax-content">
    @*ViewBag.QUERY = @ViewBag.QUERY;
    <br />
    ViewBag.d = @ViewBag.d;
    <br />
    ViewBag.contract = @ViewBag.contract;
    <br />
    ViewBag.sap = @ViewBag.sap;*@
    <br />
</div>

<div id="ajax-loader" class="text-aqua" >
    <div class="text-center">
        @if (ViewBag.nv > 0)
        {
            <p>Entrou nv</p>
            <p>nv = @ViewBag.nv</p>
            <p>QUERY = @ViewBag.QUERY</p>

        }

        <i class="fa fa-spin fa-spinner fa-5x"></i>
    </div>
</div>

<div id="content-data" class="hidden">
    @Html.Hidden("Query0", (object)ViewBag.QUERY);
    @Html.Hidden("QUERYIndex", (object)ViewBag.QUERYIndex);
    @Html.Hidden("QueryIndexL", (object)ViewBag.QueryIndexL);
</div>

<style>
    html, body {
        height: 100%;
    }

    #ajax-loader {
        width: 100%;
        height: 100%;
    }

        #ajax-loader > div {
            padding-top: 20%;
        }
</style>

@section scripts {
    <script>
        //ShowLoader();
        function ShowLoader() {
            $("#ajax-loader").removeClass("hidden");
            $("#ajax-content").addClass("hidden");
        }
        function HideLoader() {
            $("#ajax-loader").addClass("hidden");
            $("#ajax-content").removeClass("hidden");
        }

        function LoadPage() {
            //console.log("Entrou load page");

            //$("#ajax-content").append("Entrou LoadPage");

            //setTimeout(HideLoader, 5000);

            var $nv = @ViewBag.nv;
            var $type = "GET";
            if ($nv > 0) {
                $type = "POST";
            }

            $.ajax({
                url: "/Contratos/IndexL",
                type: $type,
                async: true,
                data: {
                    QUERY: '@ViewBag.QUERY',
                    d: '@ViewBag.d',
                    contract: '@ViewBag.contract',
                    contact: '@ViewBag.contact',
                    sap: '@ViewBag.sap',
                    nv: '@ViewBag.nv'
                },
                beforeSend: function () {
                    ShowLoader();
                }
            })
                .done(function (msg) {
                    $("#ajax-content").html(msg);
                    HideLoader();
                    //console.log("Ajax Finalizado OK");
            })
                .fail(function (jqXHR, textStatus, msg) {
                    //$("#ajax-content").html(
                    //    '<div class="alert alert-danger">'
                    //    + '<h4><i class="icon fa fa-file-text"></i> Aviso!</h4>'
                    //    + 'Falha ao carregar cadastro'
                    //    + '<br/><i>' + msg + '</i>'
                    //    + '</div >');
                    HideLoader();
                    console.log("Falha ao buscar ajax", jqXHR);
            });

            //console.log("Fim Load Page");

        }

        $(document).ready(function () {
            LoadPage();
        });
    </script>
}